<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<style>
    .gallery-wrap .img-big-wrap img {
        height: 450px;
        width: auto;
        display: inline-block;
        cursor: zoom-in;
    }


</style>

<body>
    <div class="container">
        <%- include ('./index.ejs') %>
        
        <div class="card">
            <div class="row">
                <aside class="col-sm-4">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <div> <a href="#"><img src="images/<%= data[0].filename %>" style="width: 250x; height: 200px; margin-top: 100px; margin-left: 20px;"></a></div>
                        </div> <!-- slider-product.// -->
                    </article> <!-- gallery-wrap .end// -->
                </aside>
                <aside class="col-sm-7">
                    <article class="card-body p-5">
                        <h3 class="title mb-3"><%= data[0].pname %></h3>
                        <h5 class="author"><%= data[0].author %></h5>

                        <p class="price-detail-wrap">
                            <span class="price h3">
                                <span class="currency">US $</span><span class="course-price"><%= data[0].price %></span>
                            </span>
                            
                        </p> <!-- price-detail-wrap .// -->
                        <dl class="item-property">
                            <dt>Description</dt>
                            <dd>
                                <p><%= data[0].description %></p>
                            </dd>
                        </dl>
                        <input id="pid" name="pid" value="<%= data[0].pid %>" style="display: none;">

                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <dl class="param param-inline">
                                    <dt>Quantity: </dt>
                                    <dd>
                                        <input id="quantity" type="number" value="1" min="1">
                                    </dd>
                                </dl> <!-- item-property .// -->
                            </div> <!-- col.// -->
                        
                        </div> <!-- row.// -->
                        <hr>
                        
                        
                        <% if(current_user_id){ %>
                        <a class="btn btn-outline-dark rounded-pill add-to-cart"><i class="fa fa-cart-plus"></i>  Add to cart</a>
                        <a href="" class="btn btn-danger rounded-pill"><i class="fa fa-heart"></i> Buy Now</a>
                        <% } else { %>
                            <h1>Please Login first</h1>
                       <% } %>
                        
                        
                    </article> <!-- card-body.// -->
                </aside> <!-- col.// -->

            </div> <!-- row.// -->
        </div> <!-- card.// -->


    </div>
    <!--container.//-->


</body>
<script>
    
    var price = parseFloat($(`.course-price`).text());
    $(`#quantity`).on('click',function(){
        var quantityValue = parseInt($(`#quantity`).val());
        var total = Math.floor(quantityValue * price);
        $(`.course-price`).text(total);

    })

    $(`.add-to-cart`).on('click',function(){
        var pid = $(`#pid`).val();
        var quantity = parseInt($(`#quantity`).val());
        window.location.href = `/addcart?quantity=${quantity}&pid=${pid}`;
    })



    
    

 

</script>

</html>